@charset "UTF-8";

h1 {
	color: white;
	font-family: Algerian, Verdana, Arial, sans-serif;
	font-size: 48pt;
	text-transform: uppercase;
	margin: 30px 30px 0px 30px;
	text-align: center;
}

h2 {
	color: white;
	font-family: Verdana, Arial, sans-serif;
	font-size: 18px;
}

h3 {
	color: white;
	font-family: Verdana, Arial, sans-serif;
	font-size: 16px;
}

p {
	color: white;
}

ul {
	line-height: 150%;
	margin: 0 0 0 90px;
	padding: 0;
	color: white;
}

/* container der alles umschliesst */
#container {
	width: 800px;
	margin: 0 auto;
	min-height: 800px;
}
/* Überschrift */
#header {
	height: 100px;
}

/* Überschiftlink */
#header a {
	text-decoration: none;
}

/* linkes DIV (aktuell) */
#left {
	float: left;
	width: 250px;
}

/* rechtes DIV (news) */
#content {
	margin: 0 0 0 255px;
}

/* Klasse inhalt des DIVs content */
.inhalt {
	margin-bottom: 50px;
}

/* menü */
#nav {
	overflow: auto;
}

/* menü liste */
#nav ul {
	list-style: none;
	height: 30px;
	padding: 0px;
	margin: 0 0 0 210px;
}

/* menü listeninhalt */
#nav ul li {
	float: left;
	margin: 10px;
}

/* DIV footer */
#footer {
	margin: 100px 0 0 0;
	height: 50px;
}

/* DIV footer liste */
#footer ul {
	list-style: none;
	height: 30px;
	padding: 0px;
	margin: 0 0 0 175px;
}
/* DIV footer liseninhalt */
#footer ul li {
	float: left;
	margin: 10px;
}

a {
	color: white;
}

body {
	background: url("background.jpg") no-repeat center center fixed;
}

a:hover {
	color: #cbc8c8;
}
/* Klasse des Inhalts von DIV left */
.aktuellertext {
	margin-bottom: 30px;
}

/* Ändert Inhalte wenn Bildschirm kleiner ist */
@media screen and (max-width: 1024px) {
	body {
		background-size: 100% 100%;
	}
	#left {
		float: none;
		width: 562px;
		margin-left: 15%;
		margin-right: 15%;
	}
	#content {
		margin-left: 15%;
		margin-right: 15%;
	}
}
	
	
	
	/*
	#container {
		width: 100%;
		height: 100%;
	}
	#header h1 {
		
		margin-left: 5px;
		margin-right: 5px;
	}
	#left {
		float: none;
		width: 390px;
		margin-left: 30%;
		margin-right: 30%;
	}
	
	#content {
		margin-left: 30%;
		margin-right: 30%;
	}
	
	#footer ul {
		margin-left: 20%;
	}
	#nav ul li {
		margin-left: 5px;
		margin-right: 0;
	}
	#nav ul {
	margin-left: 33%;
}
}
/*




