@charset "UTF-8";

h1 {
	color: white;
	font-family: Algerian, Verdana, Arial, sans-serif;
	font-size: 48pt;
	text-transform: uppercase;
	margin: 30px 30px 0px 30px;
	text-align: center;
}

h2 {
	color: white;
	font-family: Verdana, Arial, sans-serif;
	font-size: 18px;
}

h3 {
	color: white;
	font-family: Verdana, Arial, sans-serif;
	font-size: 16px;
	margin-top: 0;
	padding-top: 39.75px;
}

p {
	color: white;
}

ul {
	line-height: 150%;
	margin: 0 0 0 90px;
	padding: 0;
	color: white;
}

/* container der alles umschliesst */
#container {
	width: 800px;
	margin: 0 auto;
	min-height: 800px;
}

/* Überschrift */
#header {
	height: 100px;
}

/* linkes DIV (covers) */
#left {
	float: left;
	width: 220px;
}

/* rechtes DIV (beschrieb) */
#content {
	margin: 0 0 0 230px;
}

/* menü */
#nav {
	overflow: auto;
}

/* menü liste*/
#nav ul {
	list-style: none;
	height: 30px;
	padding: 0px;
	margin: 0 0 0 210px;
}

/* menü listeninhalt*/
#nav ul li {
	float: left;
	margin: 10px;
}

/* DIV footer */
#footer {
	margin: 100px 0 0 0;
	height: 50px;
}

/* DIV footer liste */
#footer ul {
	list-style: none;
	height: 30px;
	padding: 0px;
	margin: 0 0 0 175px;
}

/* DIV footer listeninhalt */
#footer ul li {
	float: left;
	margin: 10px;
}

a {
	color: white;
}

/* Klasse inhalt des DIVs content */
.text {
	height: 159px;
	margin-bottom: 4.5px;
}

body {
	background: url("background.jpg") no-repeat center center fixed;
}

/* DIV left covergrösse */
#left img {
	width: 159px;
	height: 159px;
}

/* Überschiftlink */
#header a {
	text-decoration: none;
}

a:hover {
	color: #cbc8c8;
}

/* Ändert Inhalte wenn Bildschirm kleiner ist */
@media screen and (max-width: 1024px) {
	body {
		background-size: 100% 100%;
	}
}
	/*
	#container {
		width: 100%;
		height: 100%;
	}
	#header h1 {
		
		margin-left: 5px;
		margin-right: 5px;
	}
	#left {
		float: none;
	}
	#content {
		margin: 0;
	}
	#nav ul {
	margin-left: 32%;
}
	#footer ul {
		margin-left: 20%;
	}
	#nav ul li {
		margin-left: 5px;
		margin-right: 0;
	}
	#left img {
		width: 50px;
		height: 50px;
	}
	#content {
		margin-left: 52px;
	}
	#left {
		width: 50px;
		float: left;
	}
	.text {
	height: 50px;
	margin-bottom: 2px;
	}
	.text h3 {
		
		font-size: 13px;
		padding-top: 2px;
	}
	
	
}
*/